@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center my-4">
	<h2 class="display-3 my-4">Chào Mừng Đến WebChat Của Glenn</h2>
	<p>
		<a asp-controller="AppUser" asp-action="Login">Đăng nhập ngay</a>
		hoặc
		<a asp-controller="AppUser" asp-action="SignUp">đăng ký</a>
		để dùng thử sản phẩm
	</p>
</div>